.dashboard-main {
  padding: 2rem 0;
  h2 {
    font-size: 4em;
    text-align: center;
  }
  .card-estado {
    padding: 2em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eeeeee;
    max-width: 800px;
    width: fit-content;
    min-height: 400px;
    margin: 2rem auto;
    border-radius: 16px;
    h5 {
      font-size: 3em;
      color: #2f2e2e;
      font-weight: normal;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .estado-solicitud {
      height: 20px;
      font-size: 3.4em;
      span {
        font-weight: bold;
      }
      img {
        height: 1em;
        margin-right: 1rem;
        user-select: none;
      }
      .txt-aprobada {
        color: #60b952;
      }
    }
    button {
      border: none;
      background-color: #4a71d8;
      color: #fff;
      font-size: 14px;
      padding: 1em 2em;
      font-weight: bold;
      line-height: 18px;
      margin: 0 2em;
      cursor: pointer;
      user-select: none;
    }
  }
  .creado-por-lecto {
    margin: auto;
    p {
      font-size: 1.6em;
      color: rgb(44, 44, 44);
    }
    .imagenes {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 120px;
        &:nth-child(1) {
          margin-right: 3rem;
        }
      }
    }
  }
}
