main {
  height: 86vh;
  display: flex;
  flex-direction: column;
  section {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .hero {
      height: 100%;
      flex: 1;
      padding: 0 15%;
      display: flex;
      align-items: center;
      .text {
        font-size: 1.8em;
        flex: 0.6;
        span {
          color: $clrMain;
        }
      }
      .imagen {
        flex: 0.4;
        background: #ccc;
        height: 60%;
        width: 100%;
      }
      .btn-inscribirme {
        display: block;
        width: fit-content;
        text-decoration: none;
        border: none;
        color: #fff;
        background-color: $clrMain;
        padding: 1em 1.8em;
        border-radius: 4px;
        margin-top: 2rem;
        font-size: 0.6em;
        cursor: pointer;
      }
    }
  }
  .waves {
    position: relative;
    height: auto;

    .second-wave {
      margin-top: -100%;
    }
  }
}
