nav {
  padding: 3vh 15%;
  height: 14vh;
  display: flex;
  align-items: center;
  h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
  }
  .links {
    margin-left: auto;
    p {
      display: inline;
      margin: 0 0 0 3rem;
      font-size: 1.3em;
      cursor: pointer;
    }
    .btn-iniciar-sesion {
      color: $clrMainDark;
      font-weight: 700;
    }
    .btn-cerrar-sesion {
      font-weight: 700;
      color: rgb(231, 41, 41);
    }
  }
}
