.main-admin {
  padding: 0 var(--padding-sides);
  h1 {
    color: #151515;
  }
  .container-cards-admin {
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e5e5e5;
      padding: 2rem;
      margin: 2vmin 0;
      font-size: $fsMedium;
      border-radius: 8px;
      .info-usuario {
        flex: 1;
        color: #393838;
      }
      .numero-documento {
        margin-left: 0.4em;
        color: #707070;
      }

      .btn-verificar-solicitud {
        background: $clrMain;
        color: white;
        border-radius: 5px;
        padding: 1rem 3rem;
        border: none;
        cursor: pointer;
        font-size: $fsSmall;
      }
      .text-info-solicitud {
        color: rgb(70, 70, 70);
        font-size: $fsSmall;
      }
    }
  }
}

.login-form-admin {
  padding: 4vh var(--padding-sides);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-solicitud {
  padding: 5vh var(--padding-sides);
  .container-solicitud {
    padding: 0 0 4vh 0;
    h2 {
      font-size: $fsSubHeader;
      padding: 0 0 0.3em 0;
    }
    .campo-informacion {
      padding: 0.4em 0;
      font-size: $fsMedium;
      color: #545454;
      .txt-info-usuario {
        color: #292929;
        font-weight: bold;
        .tipo-diagnostico {
          text-transform: capitalize;
        }
        a {
          color: $clrMainDark;
        }
      }
    }
  }
  form {
    .form-group-admin {
      display: flex;
      flex-direction: column;
      label {
        font-size: $fsSmall;
        color: #181818;
        margin: 0 0 0.4em 0;
      }
      textarea {
        resize: none;
        width: 30vmax;
        height: 30vmin;
        padding: 0.5em 0.3em;
        font-size: $fsSmall;
      }
    }
    .botones-solicitud {
      display: flex;
      align-items: center;
      button {
        padding: 1.3em 2em;
        margin: 2rem 1rem 0 0;
        border: none;
        cursor: pointer;
        border-radius: 6px;
        font-weight: bold;
      }
      .btn-aceptar-solicitud {
        background: #47c034;
        color: rgb(31, 31, 31);
      }
      .btn-revision-solicitud {
        background: #e4c435;
        color: rgb(31, 31, 31);
      }
      .btn-rechazar-solicitud {
        background: #c74533;
        color: rgb(255, 244, 244);
      }
    }
  }
}

.form-group-dropdown {
  margin: 1vmax 0 0 0;
  padding-bottom: 0;
}
.dropdown {
  width: 30vmax;
}

.label-ordenar {
  font-size: $fsSmall;
  margin: 3vmin 0 0 0;
}
.opcion-ordenar {
  font-size: $fsSmall;
  display: inline-block;
  margin: 0.3em 1em 0 0;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
}
.opcion-ordenar-active {
  background: $clrMainAccent;
}

@media screen and (max-width: 1000px) {
  .dropdown {
    width: 100%;
  }
  .opcion-ordenar {
    display: block;
    margin: 1.5vmin 0;
  }
  .container-cards-admin {
    .card {
      flex-direction: column;
      .info-usuario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 0 3vh 0;
      }
    }
  }
}
