footer {
  background: $clrFooter;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .links {
    padding: 1em;
    * {
      margin: 1em 0;
      text-align: center;
      color: #073944;
      cursor: pointer;
    }
  }
  .creado-por-lecto {
    color: #0e0e0e;
    width: 50%;
    text-align: center;
    p {
      font-size: 1.4em;
    }
    .imagenes {
      padding: 1em;
      img {
        height: 100px;
      }
    }
  }
}
