    .titulo {
        padding-left: 18vw;
        padding-top: 5vh;
        font-size: 4em;
    }

    .formulario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 18vw;
        padding-top: 4vh;

        label {
            font-size: 1.5em;
            width: 40%;
            margin-right: 10%;
            padding-bottom: 4vh;
            padding-top: 4vh;
        }

        input[type=text],
        input[type=date],
        select {
            font-size: 1.3em;
            background: #F0F0F0;
            width: 40%;
            height: 3vw;
            margin-right: 10%;
            box-sizing: border-box;
            border-width: 0px;
            padding: 0.5em;
            -webkit-box-sizing: border-box;
            /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;
            /* Firefox, other Gecko */

        }

        button {
            background: #41A1AC;
            width: 15%;
            height: 5vh;
            margin-top: 6vh;
            margin-right: 2vw;
            color: white;
            border-radius: 5px;
            border-width: 0px;
            font-size: 1.2em;
        }
    }

    .checkform {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: $progressBarSpace;
        padding-top: 4vh;

        h1 {
            font-size: 1.5em;
            width: 100%;
            margin-bottom: 2vh;
        }

        input[type=checkbox] {
            width: 2%;
            height: 4vh;
            margin-bottom: 2vh;
            margin-top: 2vh;
            margin-right: 1.5vw;
        }

        label {
            font-size: 1.5em;
            width: 95%;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }

        button {
            background: #41A1AC;
            width: 15%;
            height: 5vh;
            margin-top: 4vh;
            margin-right: 2vw;
            color: white;
            border-radius: 5px;
            border-width: 0px;
            font-size: 1.2em;
        }
    }

    .fileform {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        padding-left: $progressBarSpace;
        padding-top: 4vh;

        .filePicker {
            width: 100%;
            background-color: $clrMainAccent;
            flex-direction: row;
            margin-top: 2vh;
            margin-bottom: 3vh;

            img {
                width: 7vh;
                padding: 0.5vw;
                margin-left: 1vw;
                
            }

            input[type=file] {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            input[type=file]+label {
                width: 75%;
                font-size: 1.25em;
                text-align: center;
                color: black;
                background-color: $clrMainAccent;
                line-height: 4vh;
                display: inline-block;
                margin-top: 2.25vh;
                margin-bottom: 1.75vh;
            }
        }

        input[type=radio] {
            width: 10%;
            height: 4vh;
            margin-bottom: 4vh;
            margin-top: 4vh;
            margin-right: 2vw;
        }

        label {
            font-size: 1.3em;
            width: 80%;
            margin-bottom: 2vh;
            margin-top: 3vh;
        }

        button {
            background: #41A1AC;
            width: 40%;
            height: 5vh;
            margin-top: 2vh;
            margin-right: 2vw;
            color: white;
            border-radius: 5px;
            border-width: 0px;
            font-size: 1.2em;
            cursor: pointer;
        }
    }