nav {
  padding: 3vh var(--padding-sides);
  height: 14vh;
  display: flex;
  align-items: center;
  .logo-navbar {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: #000;
  }
  .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    p,
    a {
      margin: 0 0 0 3vmin;
      font-size: 1.3em;
      cursor: pointer;
      color: #000;
      text-decoration: none;
    }
    .btn-iniciar-sesion {
      color: $clrMainDark;
      font-weight: 700;
    }
    .btn-cerrar-sesion {
      font-weight: 700;
      color: rgb(231, 41, 41);
    }
  }
}

@media screen and (max-width: 1000px) {
  nav {
    .logo-navbar {
      font-size: 1.5em;
    }
  }
  .links {
    p,
    a {
      font-size: 1.3em !important;
      text-align: right;
    }
  }
}
