@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap");
@import "navbar";
@import "Login";
@import "hero";
@import "info";
@import "footer";
@import "dashboard";
@import "form";
@import "admin";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Mulish", sans-serif;
  overflow-x: initial;
}
html {
  scroll-behavior: smooth;
}
:root {
  --padding-sides: 15%;
}

.swal2-icon {
  overflow: hidden;
}
hr {
  width: calc(100vw - var(--padding-sides));
  display: none;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  hr {
    display: block;
  }
  :root {
    --padding-sides: 8%;
  }
}
